Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Ziyue Yin"
COLLABORATORS = ""

---

quiz 9, STATS102 Fall 2022 Session 1, Duke Kunshan University, Sep 7th
![](dku.jpg)
For this problem set, we'll be using the Jupyter notebook:
![](jupyter.png)

Please create and return one DataFrame shown as follows:

![](Quiz11.png)

Hint: pd.MultiIndex

In [ ]:
#option 0.
import numpy as np
import pandas as pd

def myfunction():
    # YOUR CODE HERE
    df = pd.DataFrame(np.random.rand(4,1),
              index=pd.MultiIndex.from_arrays([[1998,1998,2018,2018], ['Paola','Genesis','Valentina','Victoria']]),
              columns=['Number of occurrences'])
    df.index.names=['Year','Name']
    df.iloc[0,0]=724
    df.iloc[1,0]=500
    df.iloc[2,0]=241
    df.iloc[3,0]=205
    return df

In [1]:
#option 1.
import numpy as np
import pandas as pd
def myfunction():
    index=pd.MultiIndex.from_arrays([[1998,1998,2018,2018], ['Paola','Genesis','Valentina','Victoria']],names=['Year','Name'])
    data=np.array([724,500,241,205])
    name_cnt=pd.DataFrame(data, index=myindex, columns=['Numbers of occurrences'])
    return name_cnt

In [3]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.rand(4,1),
              index=pd.MultiIndex.from_arrays([[1998,1998,2018,2018], ['Paola','Genesis','Valentina','Victoria']]),
              columns=['Number of occurrences'])
df.index.names=['Year','Name']
df.iloc[0,0]='724'
df.iloc[1,0]='500'
df.iloc[2,0]='241'
df.iloc[3,0]='205'
df

               Number of occurrences
Year Name
1998 Paola                       724
     Genesis                     500
2018 Valentina                   241
     Victoria                    205

In [9]:
#option 3.
import numpy as np
import pandas as pd
year=pd.Series([1998,1998,2018,2018])
name=pd.Series(['Paola','Genesis','Valentina','Victoria'])
number=pd.Series([724,500,241,205])
df=pd.DataFrame({'Year':year,'Name':name,'Number of occurrences':number})
df=df.index.names=['Year','Name']
df

AttributeError: 'builtin_function_or_method' object has no attribute 'names'

In [2]:
import numpy as np
import pandas as pd

name_cnt = myfunction()
assert len(name_cnt.index.levels)==2
assert len(name_cnt.index.names)==2
assert len(name_cnt.columns)==1
assert (name_cnt['Number of occurrences'] == [724,500,241,205]).all()

NameError: name 'myindex' is not defined