Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Ziyue Yin"
COLLABORATORS = ""

---

Assignment 11, STATS102 Fall 2022 Session 1, Duke Kunshan University, Due at Sep 14th 1:15pm beijing time
![](dku.jpg)
For this problem set, we'll be using the Jupyter notebook and nbgrader:

![](jupyter.png)

# Problem 1

Load <b>WorldCupMatches.csv</b>, calculate and return a DataFrame representing the top 5 teams descendingly ordered by the number of goals in a single world cup.

![](assignment13.png)

In [1]:
import numpy as np
import pandas as pd

def myfunction():
    # YOUR CODE HERE
    df=pd.read_csv('WorldCupMatches.csv').dropna().drop_duplicates()
    df1=df.loc[:,['Year','Home Team Name','Home Team Goals']]
    df1.columns=['Year','Team Name','Goals in a single cup']
    df2=df.loc[:,['Year','Away Team Name','Away Team Goals']]
    df2.columns=['Year','Team Name','Goals in a single cup']
    df=pd.concat([df1,df2], ignore_index=True)
    df=df.groupby(by=['Year','Team Name']).sum()
    return df.sort_values(by=['Goals in a single cup'],ascending=False).head(5)

In [ ]:
import numpy as np
import pandas as pd
pd.read_csv('WorldCupMatches.csv').dropna()

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('WorldCupMatches.csv').dropna().drop_duplicates()
df1=df.loc[:,['Year','Home Team Name','Home Team Goals']]
df1.columns=['Year','Team Name','Goals in a single cup']
df2=df.loc[:,['Year','Away Team Name','Away Team Goals']]
df2.columns=['Year','Team Name','Goals in a single cup']
df=pd.concat([df1,df2], ignore_index=True)
df=df.groupby(by=['Year','Team Name']).sum()
df.sort_values(by=['Goals in a single cup'],ascending=False).head(5)

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv('WorldCupMatches.csv').dropna()
df1=df.loc[:,['Year','Home Team Name','Home Team Goals']]
df1.columns=['Year','Team Name','Goals in a single cup']
df2=df.loc[:,['Year','Away Team Name','Away Team Goals']]
df2.columns=['Year','Team Name','Goals in a single cup']
display(df1,df2)

In [ ]:
df=pd.concat([df1,df2], ignore_index=True)
df

In [ ]:
df=df.groupby(by=['Year','Team Name']).sum()
df

In [ ]:
df.sort_values(by=['Goals in a single cup'],ascending=False).head(5)

In [17]:
res=myfunction()
assert res.shape==(5,1)
assert (res.values==np.array([[27.],[25.],[23.],[22.],[19.]])).all()
assert int(res.loc[1954,'Hungary'])==27
assert int(res.loc[1954,'Germany FR'])==25
assert int(res.loc[1958,'France'])==23
assert int(res.loc[1950,'Brazil'])==22
assert int(res.loc[1970,'Brazil'])==19
res

                   Goals in a single cup
Year   Team Name
1954.0 Hungary                      27.0
       Germany FR                   25.0
1958.0 France                       23.0
1950.0 Brazil                       22.0
1970.0 Brazil                       19.0

# Problem 2

Load <b>artists.csv</b>, calculate and return how many artists's lifespans are 30 to 60 years (excluding 30).

Data reference: https://www.kaggle.com/ikarus777/best-artworks-of-all-time

Hint:
![](assignment13_2.png)

In [13]:
import numpy as np
import pandas as pd

def myfunction():
    # YOUR CODE HERE
    df=pd.read_csv('artists.csv')
    born=df['years'].str.extract('(\d+)\s.*').astype(int)
    died=df['years'].str.extract('\s(\d+).*$').astype(int)
    lifespan=died-born
    return np.sum((lifespan>30)&(lifespan<=60))[0]

In [14]:
import numpy as np
import pandas as pd
df=pd.read_csv('artists.csv')
born=df['years'].str.extract('(\d+)\s.*').astype(int)
died=df['years'].str.extract('\s(\d+).*$').astype(int)
lifespan=died-born
np.sum((lifespan>30)&(lifespan<=60))[0]

19

In [15]:
assert myfunction()==19