# Notes for STATS102, Session 1, Week 1, Aug 23th, Lecture, part 1
part of the materials are from Python for Everybody https://www.py4e.com/lessons

welcome to our class $2^{2}$

Constants (Fixed values)

In [1]:
print('123')

123

In [2]:
type('123')

str

In [3]:
print("hello"+"world")

helloworld

In [4]:
print(98.6)

98.6

In [5]:
type(98.6)

float

In [6]:
print('Hello world')

Hello world

In [7]:
print("Hello world")

Hello world

In [8]:
print("Welcome to our class","dku STATS102")

Welcome to our class dku STATS102

variables

In [9]:
x = 12.2
print(type(x))
x = 100
print(type(x))

<class 'float'>
<class 'int'>

In [13]:
x = 12.2
type(x)

float

Reserved Words! (False class return is finally None if	for lambda 	continue True def from while nonlocal and del global not with as elif try or yield assert else import pass break except in raise)

In [14]:
if=1

SyntaxError: invalid syntax (<ipython-input-14-5e4864adb5c8>, line 1)

In [15]:
23spam=1

SyntaxError: invalid syntax (<ipython-input-15-81faafc8c23e>, line 1)

In [16]:
# this line means ,,,,

In [17]:
var.12=1

SyntaxError: invalid syntax (<ipython-input-17-3526f56f621c>, line 1)

In [18]:
abc123=1
print(abc123)

1

Must start with a letter or underscore _ 

can only consist of letters, numbers, and underscores

Case Sensitive!

In [21]:
_x3=1
_x3

1

In [22]:
spam=1
Spam=2
SPAM=3
print('spam=',spam,'Spam=',Spam,'SPAM',SPAM)

spam= 1 Spam= 2 SPAM 3

In [23]:
x1q3z9ocd = 35.0 
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ocd * x1q3z9afd
print(x1q3p9afd)

437.5

In [24]:
a = 35.0 
b = 12.50 
c = a * b 
print(c)

437.5

In [25]:
hours = 35.0 
rate = 12.50 
pay = hours * rate 
print(pay)

437.5

In [26]:
x = 2 #Assignment statement
print(x)
x = x + 2 #Assignment with expression
print(x) #Print statement

2
4

In [27]:
x=0.5
x = 3 * x * ( 1 - x )
x

0.75

Expressions 
+ - * / ** %

In [29]:
xx = 2
xx = xx + 2
print(xx)
print(xx**2)
yy = 440 * 12
print(yy)
zz = yy / 1000
print(zz)
print(int(zz))
print(yy//1000)
print(yy%1000)

4
16
5280
5.28
5
5
280

In [35]:
x=2500
y=x//2
print(y)

1250

In [36]:
type(int(zz))

int

x**3 means $x^{3}$

In [39]:
x=int(-1.9)
print(x,type(x))
x=round(-1.51)
print(x,type(x))

-1 <class 'int'>
-2 <class 'int'>

In [44]:
import math
math.floor(-1.9)

-2

In [45]:
math.floor(-1.1)

-2

In [46]:
math.ceil(-1.1)

-1

In [47]:
math.ceil(-1.9)

-1

In [48]:
int(-1.9)

-1

In [49]:
int(-1.1)

-1

In [51]:
x = 1 + 2 * 3 - 50 / 5 ** 2
x
type(x)

float

In [52]:
x = 1 + (2 * 3) - (4 / (5 ** 6)) 
x

6.999744


Parenthesis -> Power -> Multiplication -> Addition -> Left to Right
use parentheses, keep mathematical expressions simple, break long and complex expressions up

In [53]:
x = 1 + 2 ** 3 / 4 * 5
x

11.0

In [57]:
x=1
line='hello'
temp = 98.6
type(x)
type(line)==str  #?

True

In [58]:
a=1
print(a==2)  #?
print(a)

False
1

In [59]:
ddd = 1 + 4
print(ddd)
eee = 'hello' + 'there'
print(eee)

5
hellothere

In [60]:
print('hello'+'there')

hellothere

In [61]:
print('hello'+'there')

hellothere

In [63]:
print('1'+'abd')

1abd

In [64]:
#eee = 'hello ' + 'there'
#eee = eee + 1
#eee = eee + str(1)
#eee = int(eee) + 1
eee='123'
eee = int(eee) + 1
print(eee)

124

In [65]:
x=float('123.x')
type(x)

ValueError: could not convert string to float: '123.x'

In [66]:
print(float(99) + 100)
i = 42
print(type(i))
f = float(i)
print(f)
print(type(f))

199.0
<class 'int'>
42.0
<class 'float'>

In [69]:
print(10 / 2) #Integer division produces a floating point result
print(9 / 2) 
print(99 / 100) 
print(10.0 / 2.0) 
print(99.0 / 100.0)

5.0
4.5
0.99
5.0
0.99

In [71]:
x=("hello"+"world")
print(x)

helloworld

In [72]:
name = input('Who are you? ')#user input
print(type(name))
print(name)
print('Welcome',name, 'to our class!')

Who are you? 123
<class 'str'>
123
Welcome 123 to our class!

In [ ]:
hours = input('how many hours do you work as student worker?')
salary_per_hour=input('what is the salary per hour in terms of dollars?')
total_salary= float(hours)*float(salary_per_hour)
print('total salary is', total_salary, 'dollars')

https://docs.python.org/3.6/library/exceptions.html