Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Ziyue Yin"
COLLABORATORS = ""

---

Quiz 13, STATS102 Spring 2022 Session 1, Duke Kunshan University, Sep 14th
![](dku.jpg)
For this problem set, we'll be using the Jupyter notebook:
![](jupyter.png)

Load <b>london_merged.csv</b>, plot the figure for total counts of a new bike shares under different weather, and return the counts array in descending order.

![](quiz14.jpg) 

Data Reference: https://www.kaggle.com/hmavrodiev/london-bike-sharing-dataset

Weather Code Labels: {1: Clear, 2: Few clouds, 3: Broken clouds, 4: Cloudy, 7: Rain, 10: Rain with thunderstorm, 26: Snowfall}

Markers: ['o', 'x', '+', 'v', '>', 's', 'd']

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()
import pandas as pd
import numpy as np

def myfunction():
    label = {1:'Clear', 2:'Few clouds', 3:'Broken clouds', 4:'Cloudy', 7:'Rain', 10:'Rain with thunderstorm', 26:'Snowfall'}
    marker = ['o', 'x', '+', 'v', '>', 's', 'd']
    # YOUR CODE HERE
    df=pd.read_csv('london_merged.csv')

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()
import pandas as pd
import numpy as np
label = {1:'Clear', 2:'Few clouds', 3:'Broken clouds', 4:'Cloudy', 7:'Rain', 10:'Rain with thunderstorm', 26:'Snowfall'}
marker = ['o', 'x', '+', 'v', '>', 's', 'd']
# YOUR CODE HERE
df=pd.read_csv('london_merged.csv')
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2016-01-01 00:00:00,786,6.0,3.5,81.0,13.0,1.0,1.0,0.0,3.0
1,2016-01-01 01:00:00,660,5.5,3.0,84.0,11.0,1.0,1.0,0.0,3.0
2,2016-01-01 02:00:00,387,5.0,2.5,84.0,10.0,1.0,1.0,0.0,3.0
3,2016-01-01 03:00:00,294,5.0,4.5,81.0,5.0,1.0,1.0,0.0,3.0
4,2016-01-01 04:00:00,219,5.0,4.0,76.0,5.5,1.0,1.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...
8694,2016-12-31 19:00:00,493,9.0,6.0,82.0,17.0,4.0,0.0,1.0,3.0
8695,2016-12-31 20:00:00,465,8.5,6.5,84.5,13.0,4.0,0.0,1.0,3.0
8696,2016-12-31 21:00:00,474,8.0,6.0,87.0,12.0,4.0,0.0,1.0,3.0
8697,2016-12-31 22:00:00,587,8.0,6.0,90.0,12.0,4.0,0.0,1.0,3.0
8698,2016-12-31 23:00:00,697,8.0,5.0,87.0,18.5,4.0,0.0,1.0,3.0

In [22]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()
import pandas as pd
import numpy as np
label = {1:'Clear', 2:'Few clouds', 3:'Broken clouds', 4:'Cloudy', 7:'Rain', 10:'Rain with thunderstorm', 26:'Snowfall'}
marker = ['o', 'x', '+', 'v', '>', 's', 'd']
# YOUR CODE HERE
df=pd.read_csv('london_merged.csv')
df=df.groupby(by=['weather_code']).sum().sort_values(by['cnt'],ascending=False)#cnt是count的意思。
y=df['cnt']
x=df.index.astype(int)
for i in range(y.size):
    plt.scatter(x[i],y[i],marker=marker[i],label=label[x[i]])

NameError: name 'by' is not defined

In [ ]:
assert (myfunction() == np.array([3651810, 3088392, 2083553, 773568, 522724, 6526, 2973])).all()