Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Ziyue Yin"
COLLABORATORS = ""

---

Assignment 9, STATS102 Fall 2022 Session 1, Duke Kunshan University, Due at Sep 8th 1:15pm beijing time
![](dku.jpg)
For this problem set, we'll be using the Jupyter notebook and nbgrader:

![](jupyter.png)

## Problem1
Loading `chipotle.tsv` in this folder, calculate the average number of items for each order.

Hint: the total number of quiantity divided by the number of unique orders

In [1]:
import numpy as np
import pandas as pd

def myfunction():
    # YOUR CODE HERE
    df= pd.read_csv('chipotle.tsv',delimiter = '\t')
    a=np.sum(df['quantity'])
    b=list(df['order_id'])[-1]
    return a/b

In [2]:
import numpy as np
import pandas as pd
df= pd.read_csv('chipotle.tsv',delimiter = '\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
import numpy as np
import pandas as pd
df= pd.read_csv('chipotle.tsv',delimiter = '\t')
list(df['order_id'])[-1]

1834

In [4]:
import numpy as np
import pandas as pd
df= pd.read_csv('chipotle.tsv',delimiter = '\t')
a=np.sum(df['quantity'])
a/1834

2.711014176663032

In [5]:
import pandas as pd
df= pd.read_csv('chipotle.tsv',sep = '\t')
print(df)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [ ]:
assert (abs(myfunction()-2.711) < 0.01)

## Problem2
Loading `chipotle.tsv`, calculate the total income of Chipotle Restaurant.

Hint:

chipo['item_price'].str.replace('$','')


astype(float)

In [27]:
import numpy as np
import pandas as pd

def myfunction():
    # YOUR CODE HERE
    import numpy as np
    import pandas as pd
    df= pd.read_csv('chipotle.tsv',delimiter = '\t')
    a=df['quantity']
    b=df['item_price'].str.replace('$','').astype('float')
    return np.sum(a*b)

In [28]:
assert (abs(myfunction()-39237.02) < 0.001)