# Notes for STATS102, Session 1, Aug 25th, Lecture, part 1

In [1]:
fruit = 'banana'
letter = fruit[0]
print(letter)

b

In [2]:
len(fruit)

6

In [3]:
zot = 'abc'
print(zot[0])
#从零开始

a

In [4]:
aa=[1,2,[3,4]]
len(aa)

3

In [5]:
aa[2][1]#定位list中的list的位置

4

In [6]:
fruit = 'banana'
index = 0
while index < len(fruit): 
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [7]:
fruit = 'banana'
index=0
for myletter in fruit:
    print(index,myletter)
    index=index+1

0 b
1 a
2 n
3 a
4 n
5 a

In [8]:
a=[1,2,3,4]
Pre=None
for num in a:
    if(Pre!=None):
        print(Pre,num)
        Pre=num
    else:
        Pre=num

1 2
2 3
3 4

In [9]:
for i in range(len(a)):
    print(a[i])

1
2
3
4

In [10]:
a

[1, 2, 3, 4]

In [11]:
for i in a:
    print(i)

1
2
3
4

In [12]:
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' : 
        count = count + 1
print(count)
#计算a的个数1

3

In [13]:
a='banana'#计算a的个数2

In [18]:
a.count?
#计算a的个数2

In [19]:
a.count('a')#计算a的个数2

3

In [20]:
'banana'.count('a')#计算a的个数3

3

In [21]:
aaa='fewiprgjpw'

In [22]:
b=['One','Two','Three']

In [23]:
'@@'.join(b)#添加字符

'One@@Two@@Three'

In [24]:
a='One@@Two@@Three'
a.split('@@')

['One', 'Two', 'Three']

In [25]:
'@@'.join(b).split('@@')

['One', 'Two', 'Three']

In [26]:
' '.join('abc 123 789'.split(' '))

'abc 123 789'

In [27]:
b=a.upper()
b

'ONE@@TWO@@THREE'

In [28]:
aaa

'fewiprgjpw'

In [29]:
'banana'.count('a')

3

In [30]:
'banana'.count

In [31]:
fruit = 'banana'
'z' in fruit

False

In [32]:
fruit.rfind('a')#rfind=find the index??? from right to left--the first 'a' encounted is 5

5

In [33]:
fruit.find('a')#??? find=find the index??? from left to right--the first 'a' encounted is 2

1

In [34]:
s = 'Monty Python'
print(s[0:4:1]) #start from 0 to 4 but do not include 4
print(s[6:7])   #start from 6 to 7 but do not include 7
print(s[6:20])  #start from 6 to 20 which is the end:11
print(s[:2])    #start from 0 to 2 but do not include 2
print(s[8:])    #start from 8 to end and includes 11
print(s[:])     #start from beginning to end
print(s[::-1])  #reverse the string!!!
print(s[9:5:-1])#start from 9 back to 5 but do not include 5!!!（第三位1即正序，第三位-1即倒序，第三位是别的数字呢？？？）

Mont
P
Python
Mo
thon
Monty Python
nohtyP ytnoM
htyP

In [35]:
fruit = 'banana'
print(fruit.upper())
print(fruit.find('a'))
print(fruit.rfind('a'))
print(fruit.find('y'))

BANANA
1
5
-1

In [36]:
[1,2,3].index(1)

0

In [37]:
greet = 'Hello Bob'
result=greet.replace('Bob','Jane')
print(result)
#替换

Hello Jane

In [38]:
greet = greet.replace("Bob", "Jane")
greet

'Hello Jane'

In [39]:
greet

'Hello Jane'

In [40]:
line = 'Please have a nice day'
line.startswith('Please')
dir(line)
a=line.center(50)
print(a)

              Please have a nice day

In [41]:
line.

SyntaxError: invalid syntax (<ipython-input-41-35896c4c0cad>, line 1)

In [42]:
len(line)

22

In [43]:
data = 'From ml442@duke.edu Sat Jan  5 09:14:16 2008'
atpos = data.find('@')
print(atpos)
sppos = data.find(' ')
print(sppos)
host = data[sppos+1 : atpos]
print(host)
#[start position:end position(not included)]!!!

10
4
ml442